<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Akcja:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Wydarzenie:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div>
</ng-template>


<div class="container-fluid">
  <div style="height: 70px;"></div>
  <div class="row text-center">
    <div class="col-md-4">
      <div fxLayout="row" fxLayoutGap="5px">
        <button
          mat-raised-button
          color="primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false">
          Poprzedni
        </button>
        <button
          mat-raised-button
          color="accent"
          mwlCalendarToday
          [(viewDate)]="viewDate">
          Dziś
        </button>
        <button
          mat-raised-button
          color="primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false">
          Następny
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate: (view + 'ViewTitle') : 'pl' | titlecase }}</h3>
    </div>
    <div class="col-md-4">
      <div fxLayout="row" fxLayoutGap="5px">
        <button
          mat-raised-button
          (click)="view = CalendarView.Month"
          [color]="view === CalendarView.Month ? 'accent' : 'primary'">
          Miesięczny
        </button>
        <button
          mat-raised-button
          (click)="view = CalendarView.Week"
          [color]="view === CalendarView.Week ? 'accent' : 'primary'">
          Tygodniowy
        </button>
        <button
          mat-raised-button
          (click)="view = CalendarView.Day"
          [color]="view === CalendarView.Day ? 'accent' : 'primary'">
          Dzienny
        </button>
      </div>
    </div>
  </div>
  <br>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [locale]="locale"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [locale]="locale"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [locale]="locale"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>

  <br><br><br>

  <h3>
    Zmień rezerwacje
    <button
      class="btn btn-primary pull-right"
      (click)="addEvent()">
      Dodaj nową
    </button>
    <div class="clearfix"></div>
  </h3>

  <table class="table table-bordered">

    <thead>
    <tr>
      <th>Tytuł</th>
      <th>Priorytet</th>
      <th>Data rozpoczęcia</th>
      <th>Data zakończenia</th>
      <th>Akcja</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let event of events; let index = index">
      <td>
        <mat-form-field>
          <input
            matInput
            name="title"
            placeholder="Tytuł"
            type="text"
            [(ngModel)]="event.title"
            (keyup)="refresh.next()">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-select placeholder="Priorytet" [(value)]="event.color.primary" (selectionChange)="refresh.next()">
            <mat-option [value]="colors.yellow.primary">Niski</mat-option>
            <mat-option [value]="colors.blue.primary">Normalny</mat-option>
            <mat-option [value]="colors.red.primary">Ważny</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <div class="form-group margin-space large-input">
          <datetime-picker [defaultDate]="event.start"
                           name="stTime"
                           #stTime="ngModel"
                           [maxDate]="event.end"
                           [(ngModel)]="event.start"
                           (ngModelChange)="refresh.next()"
                           required
                           ngDefaultControl></datetime-picker>
        </div>
      </td>
      <td>
        <div class="form-group margin-space large-input">
          <datetime-picker [defaultDate]="event.end"
                           name="endTime"
                           #endTime="ngModel"
                           [minDate]="event.start"
                           [(ngModel)]="event.end"
                           (ngModelChange)="refresh.next()"
                           required
                           ngDefaultControl></datetime-picker>
        </div>
      </td>
      <td>
        <button
          class="btn btn-danger"
          (click)="events.splice(index, 1); refresh.next()">
          Usuń
        </button>
      </td>
    </tr>
    </tbody>

  </table>
</div>
