<table class="datepicker"
       cellspacing="0"
       [formGroup]="dateForm">
    <tr>
        <td class="datepicker-date-container">
            <mat-form-field>
                <input matInput
                       class="datepicker-input"
                       [matDatepicker]="picker"
                       formControlName="date"
                       [placeholder]="'Data'"p
                       [min]="minDate"
                       [max]="maxDate">
                <mat-datepicker-toggle matSuffix
                                       [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </td>
        <td class="datepicker-time-container">
            <mat-form-field>
                <mat-select formControlName="hours"
                            (selectionChange)="on.hoursChanged($event)"
                            [placeholder]="'Godzina'">
                    <mat-option *ngFor="let h of hoursArray"
                                [value]="h">{{ h
                        <10 ?
                            "0"+h
                            :
                            h
                            }}</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
        <td class="datepicker-time-container">
            <mat-form-field>
                <mat-select formControlName="minutes"
                            (selectionChange)="on.minutesChanged($event)"
                            [placeholder]="'Minuta'">
                    <mat-option *ngFor="let m of minutesArray"
                                [value]="m">{{ m
                        <10 ?
                            "0"+m
                            :
                            m
                            }}</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </tr>
</table>
