.datepicker, .datepicker td {
  border: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/deep/ {
  .datepicker-input {
    width: 80%;
    max-width: initial;
    vertical-align: middle;
  }

  .datepicker-date-container {
    .mat-input-infix {
      width: 85px !important;
    }
  }

  .datepicker-time-container {
    width: 5em;
    vertical-align: top;
    .mat-form-field,
    .mat-form-field-infix {
      width: 100%;
    }
  }
}

/deep/ .datepicker .mat-form-field-infix {
  width: 100px !important;
}
