<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Obsługa karetek</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown" fxLayout="row" fxLayoutGap="20px">
    <button mat-raised-button routerLink="/">Strona główna</button>
    <button mat-raised-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button *ngIf="!auth.isLoggedIn()" mat-menu-item routerLink="/login">Zaloguj się</button>
      <button *ngIf="auth.isLoggedIn()" mat-menu-item routerLink="/booking">Rezerwacja</button>
      <button *ngIf="auth.isLoggedIn()" mat-menu-item routerLink="/profile">{{ auth.getUserDetails()?.name }}</button>
      <button *ngIf="auth.isLoggedIn()" mat-menu-item (click)="auth.logout()">Wyloguj się</button>
    </mat-menu>
  </div>
</nav>

<router-outlet></router-outlet>
