<div style="height: 70px;"></div>
<div class="container">
  <div class="row">
    
     <div class="col-md-6">

      <h1 class="form-signin-heading">Twój profil</h1>

      <div class="form-horizontal">
        <div class="form-group row">
          <label class="col-sm-3 control-label">Imię i nazwisko</label>
          <p class="col-sm-9 form-control-static">{{ details?.name }}</p>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">Email</label>
          <p class="col-sm-9 form-control-static">{{ details?.email }}</p>
        </div>
      </div>

    </div>

  </div>
</div>
