<div style="height: 70px;"></div>
<div class="container">

  <div class="row">
    
    <div class="col-md-6">
      <h1 class="form-signin-heading">Zaloguj się</h1>
      <p class="lead">Nie masz konta? <a routerLink="/register">Zarejestruj się</a>.</p>
  
      <form (submit)="login()" fxLayout="column">
        <mat-form-field class="example-full-width">
          <input name="email" matInput placeholder="Email" [(ngModel)]="credentials.email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input name="password" matInput placeholder="Hasło" [(ngModel)]="credentials.password">
        </mat-form-field>
        <button mat-raised-button type="submit">Zaloguj się</button>
      </form>

    </div>
  </div>

</div>
